html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.0;
	font-family: 微软雅黑;
	font-weight: bold;
	background-color: white;	
}
/* 在 Body 顶部添加一个阴影 */
body:before {
   content:"";
   position:fixed;
   top: -100px;
   left: 0;
   width: 100%;
   height: 100px;
   z-index: 999;
   box-shadow: 0 0 100px rgba(31,110,212,0.5);
}

.clear {
	clear: both;
	height: 15px;
}

.footer {
	height: 100px; 
}

.menu {
	background-color: #D0DFE6;
	height: 100px; 
	margin-bottom: 20px;
}

.menu p {
	margin: 0 2.5%;
	width: auto;
	color: #032030;
	display: inline-block;
	vertical-align:middle;
	text-align:center;
	font-size: 200%;
}

.menu span {
	display: inline-block;
	height:100%;
	vertical-align: middle;
}

.group {
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: rgb(250,250,250);
	box-shadow: 0 5px 30px rgba(0,0,0,0.1);

	
}

.group {
	counter-increment: counterId_Group;
}

.group h3:before {
	content: counter(counterId_Group,decimal-leading-zero);
	padding: 0px 5px;
	margin-right: 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: rgba(31,110,212,0.15);
	/* background: #F63;  */
	color: #FFF
}

.group:hover {
	box-shadow: 0 5px 30px #999;
}

.group h3 {
	margin: 0;
	border-radius: 10px 10px 0px 0px;
	background-color: #D0DFE6;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 16px;
	color: #032030;
}



/*
h3 {
	counter-increment: myCounter;
	margin-left: 5px;
	line-height: 24px;
}

h3:before {
	content: counter(myCounter,decimal-leading-zero);
	padding: 1px 5px;
	margin-right: 10px;
	background: #F63;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #FFF
}
*/

.group h3 i {
	font-style: normal;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
	color: #F71E35;
}

.group h3 span{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: black;
}

.group a {
	float: left;
	width: 150px;
	margin-top: 15px;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	color: #1794A5;
}

.group a:hover {
	text-decoration: none;
	color: #F71E35;
}

.group a i {
	font-style: normal;
	color: #999;
	font-size: 9px;
	position: relative;
	top: -10px;
	left: 0px;
	padding: 1px 3px;
}