html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.0;
	font-family: Î¢ÈíÑÅºÚ;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
}

.nav {
	border: solid 1px #B8D4B8;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: #fff;
}

.nav:hover {
	box-shadow: 0 5px 30px #999;
}

.nav h3 {
	margin: 0;
	background-color: #836FFF;
	padding: 5px 10px;
	font-weight: normal;
	font-size: 16px;
}

.nav h3 i {
	font-style: normal;
	padding-left: 10px;
	color: red;
}

.clear {
	clear: both;
	height: 15px;
}

.nav a {
	float: left;
	width: 150px;
	margin-top: 15px;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
}

.nav a:hover {
	text-decoration: none;
	color: red;
}

.nav a i {
	font-style: normal;
	color: #999;
	font-size: 9px;
	position: relative;
	top: -10px;
	left: 0px;
	padding: 1px 3px;
}